{% extends 'index.html' %}

{% block body %}
  <h1>IDR Exchange Rates (Scraping From floatrates.com)</h1>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Date</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      {% for data in datas%}
      <tr>
        <td>{{ data['code'] }}</td>
        <td>{{ data['name'] }}</td>
        <td>{{ data['date'] }}</td>
        <td>{{ data['inverseRate'] }}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
{% endblock%}